@model Escuela
@{
    ViewData["Title"] = "Informacón Escuela";
    Layout = "_LayoutSimple";
}

<h1>Página: @ViewData["Title"]</h1>
<h1>Escuela: @Model.UniqueId</h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año de fundación: @Model.AñoDeCreación</strong></p>

<p><strong>View Bag</strong></p>
<p><i>@ViewBag.CosaDinámica</i></p>

<p><strong>View Title</strong></p>
<p><i>@ViewData["CosaDinámica"]</i></p>

